@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:wght@400;600;700&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import "./typography.css";


@theme {
    --ui-primary     : #d20a2e;
    --ui-bg :  #111520!important;
    --color-primary  : #d20a2e;
    --ui-secondary   : #457b7f;
    --color-secondary: #F0ECD9;
    --color-background  : #111520;
    --color-surface: color-mix(in srgb, white 5%, #111520);
    --color-skeleton : #0A2A40;
    --text-heading   : 3rem;
    --font-display   : 'Bungee', sans-serif;
    --font-body      : 'Nunito', sans-serif;
}


@utility container {
        padding-inline: 20px;
}

body {
    background-color: var(--color-background);
    font-family: 'Nunito', sans-serif;
    font-kerning: normal;
}
