@import "tailwindcss";
@import "@nuxt/ui";

@theme { 
    --ui-primary     : #d89b43;
    --color-primary  : #d89b43;
    --ui-secondary   : #457b7f;
    --color-secondary: #457b7f;
    --color-neutral  : #031726;
    --text-heading   : 3rem;
}

@utility container {
        padding-inline: 20px;
}
